
<div>
  <span class="couplename">Amuldoss <br> Vs <br> Sathiya</span>
  <img [src]="'/img/heartcouplename.png'" alt="Heart Image" class="Cnameimg">
  <img [src]="'/img/heart.jpeg'" alt="Heart Image" class="oneimg">

<div class="container">

  <div class="form-container">
    <label class="lblhead">Name:</label>
    <input type="text" [(ngModel)]="name" (input)="updateName($event)">

      <img [src]="'/img/voice-search.png'" class="voice" alt="Voice Icon"  (click)="startVoiceRecognition()">

    <br>
    <label class="lblhead">Place:</label>
    <input type="text" [(ngModel)]="place" (input)="updatePlace($event)">
    <br>
    <label class="lblhead">Amount:</label>
    <input type="text" [(ngModel)]="amount"  class="amount-input" (input)="updateAmount($event)">
    <br>
    <button (click)="saveData()" class="savebtn">Save</button>
    <br>
    <label>{{dataLabel}}</label>
    <br>
    <button (click)="viewCollection()" class="Viewbtn" >View </button>
    <br>
    <img *ngIf="showGif" src="path/to/thankyou.gif" alt="Thank You">
  </div>
</div>

</div>


